<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Noé - Data Scientist</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <div class="container my-4">
    <h6>About Noé: Your Data Scientist</h6>
    <h5>Meet Noé Fouotsa</h5>
    <p>With 5+ years of experience, I’m passionate about leveraging AI and ML to positively impact lives. My academic foundation in Mathematics has enabled me to work on groundbreaking international AI projects.</p>

    <h5>Expertise and Vision</h5>
    <p>I specialize in developing predictive models, intelligent algorithms, and user-centric interfaces, all driven by a commitment to excellence. I believe technology should be both innovative and accessible.</p>

    <h5>Passion for Health Tech</h5>
    <p>This platform showcases my dedication to combining AI with healthcare, aiming to make healthcare more personalized and informative.</p>

    <h5>Explore the Vision</h5>
    <p>Join me in empowering individuals, promoting well-being, and shaping a healthier future with AI.</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
